.Finder {
  width: 90vw;
  margin: 0 auto;
  padding-top: 3rem;
}

.title {
  font-size: 2.7rem;
  color: var(--color-primary);
  margin-bottom: 0;
  margin-top: 5rem;
  font-weight: 500;
}

.spinner {
  position: absolute;
  height: 80px;
  width: 80px;
  border: 3px solid transparent;
  /* border-top-color: #a04668; */
  border-top-color: var(--color-secondary);
  top: 50%;
  left: 50%;
  margin: -30px;
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
}

.spinner:before {
  /* border-top-color: #254e70; */
  border-top-color: var(--color-secondary);
  top: -12px;
  left: -12px;
  right: -12px;
  bottom: -12px;
  animation: spin 3s linear infinite;
}

.spinner:after {
  /* border-top-color: #ff94e4; */
  border-top-color: var(--color-secondary);
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.userInfo-enter {
  opacity: 0.01;
}

.userInfo-enter.userInfo-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.userInfo-leave {
  opacity: 1;
}

.userInfo-leave.userInfo-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}
